body{
    font-family:Arial, Helvetica, sans-serif;
    background:#220e60;
    margin:0;
    padding:0;
}
.container{
    max-width:800px;
    background:#f1fbfa;
    margin:30px auto;
    padding:40px;
    box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
h1{
    color:black;
    margin-bottom:5px;
}
h2{
    color:black;
    border-bottom:2px solid #ccc;
    padding-bottom: 5px;
}
ul{
    list-style:circle;
    padding-left:20px;
}